<app-loading *ngIf="loading" class="m-5"></app-loading>



<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col">
        <img [src]=" artista.images | noimage " class="img-thumbnail img-circle">
    </div>
    <div class="col text-left">

        <h3> {{artista.name }}</h3>

        <p>
            <a [href]=" artista.external_urls.spotify" target="_blank"> Ir a la página del artista.</a>

        </p>
    </div>
    <div class="col text-right">
        <button routerLink="/home" class="btn btn-outline-danger">Regresar</button>
    </div>




</div>

<div class="row">
    <div class="col-9 m-5">
        <table class="table text-light">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Canción</th>
                    <th>Más escuchadas</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor=" let tracks of topTracks">
                    <td> <img [src]="tracks.album.images | noimage " class="img-thumb"></td>
                    <td> {{ tracks.album.name }}</td>
                    <td>{{ tracks.name }} </td>
                    <td> <iframe style="border-radius:12px" [src]="tracks.id | domseguro:'https://open.spotify.com/embed/track/':'?utm_source=generator'" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

                    </td>
                </tr>



            </tbody>
        </table>
    </div>
</div>